// smooth scrooling
html {
  scroll-behavior: smooth;
}

// desktop view
.desktop-visibility {
    @extend .d-none;
    @extend .d-md-block;
}

.desktop-inline-visibility {
    @extend .d-none;
    @extend .d-md-inline-block;
}

// mobile view
.mobile-visibility {
    @extend .d-block;
    @extend .d-md-none;
}

// transition
.transition-onhover {
    transition: margin-left 2s ease-in;

    &:hover .icon {
        margin-left: 10px;
    }
}

input::placeholder {
    @extend .text-slate-200;
}

.cursor-pointer {
    cursor: pointer;
}

// for opactiy 

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-100 {
    opacity: 1;
}


// for email id subscribe
form#email-subscribe {
    @extend .max-w-400;
    @extend .mr-auto;
    @extend .desktop-visibility;

    .form-control {
        &.form-control-sm {
            @extend .text-sm;
        }
    }
}

///// ----- HOME PAGE ----- /////

.large-box {
    @extend .p-40;
    @extend .mt-40;
    @extend .mx-20;
    @extend .shadow-y;

    h3 {
        @extend .mb-10;
    }

    p {
        @extend .mb-20;
    }

    a {
        @extend .d-inline-flex;
        @extend .align-items-center;
        @extend .font-weight-bold;

        .icon {
            margin-left: 4px;
            transition: .2s;
        }

        &:hover {
            .icon {
                margin-left: 10px;
            }
        }
    }

    &.career-box {
        @extend .p-24;

        h3 {
            font-weight: 800 !important;
        }

        p {
            @extend .mb-10;
        }

        a {
            @extend .font-weight-normal;
        }
    }

    &.job-opening-box {
        @extend .p-24;

        &:hover {
            cursor: pointer;

            h5 {
                @extend .text-blue;
            }
        }
    }
}

.career-row {
    .col {
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-12;
        @extend .col-12;
    }
}

.job-opening-row {
    .col {
        @extend .col-md-6;
        @extend .col-sm-12;
        @extend .col-12;

        .large-box {
            p {
                @extend .mb-0;
            }
        }
    }
}

.leaders-row {
    .col {
        @extend .col-xl-3;
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-12;
        @extend .col-12;
        @extend .text-center;
        @extend .mt-100;

        img {
            @extend .rounded-circle;
            @extend .mb-30;
        }

        .more-people {
            @extend .rounded-circle;
            @extend .bg-blue;
            @extend .mx-auto;
            height: 200px;
            width: 200px;

            h3 {
                @extend .p-24;
                @extend .text-white;
            }
        }
    }
}

.content-fluid {
    &.mb-0 {
        p {
            @extend .mb-0;
        }
    }

    p {
        &.mb-20 {
            @extend .mb-20;
        }
    }
}

.medium-box {
    @extend .col;
    @extend .d-flex;
    @extend .mx-auto;
    @extend .py-20;
    @extend .px-24;
    @extend .shadow-y;
    @extend .mb-20;

    p:nth-child(odd) {
        @extend .text-sm;
        @extend .text-secondary;
        @extend .font-weight-bold;
    }
}


.small-box {
    @extend .text-center;
    @extend .mb-40;
    @extend .px-30;

    p:nth-child(even) {
        @extend .mb-10;
        @extend .text-sm;
        @extend .text-secondary;
        @extend .text-sm-semi-bold;
    }
}


// for the home rounded images

.img-rounded {
    @extend .w-100;
    @extend .rounded-16;
    @extend .mb-10;
}

// ----- END OF HOME PAGE ----- //

// ----- CUSTOMER EXPERIENCE PAGE ----- //

.feedback-box {
    @extend .shadow-y;
    @extend .border-0;
    @extend .rounded-4;
    @extend .max-w-450;
    @extend .p-20;
    @extend .mr-30;
    @extend .mr-xs-0;
    @extend .mb-40;

    p {
        @extend .text-secondary;
    }
}


// ----- END OF CUSTOMER EXPERIENCE PAGE ----- //


// ----- CUSTOMERS STORY PAGE ----- //

// customer feedback in customers page
.customer {
    @extend .row;
    @extend .row-cols-1;
    @extend .mx-auto;
    @extend .mt-60;
    @extend .mt-xs-40;


    .customer-left {
        @extend .pr-80;
        @extend .col;
        @extend .order-2;
        @extend .order-md-1;
        @extend .col-md-7;
        @extend .px-xs-0;

        h2 {
            @extend .mb-40;
        }

        .customer-feedback {
            @extend .py-30;
            @extend .mb-80;
            @extend .border-y-dashed;

            .d-postion {
                @extend .d-flex;
                @extend .position-relative;
                @extend .w-100;
                //quotes in customer page
                .quotes {
                    @extend .position-absolute;
                    @extend .right-0;
                    z-index: -9;
                }
            }

            & > p {
                @extend .text-large;
                @extend .text-secondary;
            }
        }

        .customer-content {
            & > p {
                @extend .text-large;
                @extend .mb-20;
            }

            ul {
                @extend .list-content;
                @extend .list-green;
                @extend .mb-40;

                li {
                    @extend .pl-50;
                    @extend .text-large;
                }
            }
        }

        .h1 {
            @extend .mb-10;
        }

        & > p {
            @extend .text-large;
            @extend .mb-40;
        }
    }

    .customer-right {
        @extend .order-1;
        @extend .order-md-2;
        @extend .d-flex;
        @extend .position-relative;
        @extend .col;
        @extend .col-md-5;
        @extend .px-xs-0;
        top: -120px;

        .card {
            @extend .shadow-y;
            @extend .border-0;
            @extend .rounded-4;
            @extend .mb-40;

            .card-body {

                @extend .p-40;

                .data-bar {
                    @extend .mb-30;

                    &:last-child {
                        @extend .mb-0;
                    }

                    p {
                        @extend .text-secondary;
                        @extend .font-weight-bold;
                    }
                }
            }
        }
    }
}

// request demo in customer and features page
.request-demo {
    @extend .max-w-950;
    @extend .mx-auto;
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .g-0;

    .desktop-visibility {
        @extend .col;
        @extend .max-w-300;
        @extend .mr-50;
    }

    .request-demo-content {
        @extend .col;
        @extend .flex-grow-1;
        @extend .d-flex;
        @extend .align-items-center;

        h1 {
            @extend .mb-10
        }

        p {
            @extend .mb-30;
        }

        .btn {
            @extend .btn-lg;
            @extend .font-weight-semi-bold;

            &.btn-primary {
                &.mr-20, & + .btn-primary-outline {
                    @extend .desktop-inline-visibility;
                }
            }
        }
    }
}

// breadcrumb

.menu-path {
    @extend .container;
    @extend .g-0;
    @extend .px-xs-20;
    @extend .my-40;
    @extend .my-xs-20;

    ul {
        @extend .list-unstyled;
        @extend .d-flex;
        @extend .align-items-center;

        li {

            @extend .text-xs-14;

            span {
                @extend .icon-md;
                @extend .icon;
                @extend .mx-8;
            }

            label {
                @extend .text-secondary;
            }
        }
    }
}

// for onboarding documents

.document {

    @extend .mb-40;

    .document-title {
        @extend .d-flex;
        @extend .mb-20;

        div {
            &.dot {
                @extend .dot-md;
                @extend .bg-blue;
                @extend .mr-16;

                span {
                    @extend .text-white;
                    @extend .position-relative;
                    top: 2px;
                }
            }
        }

        h3 {
            @extend .font-weight-extra-bold;
        }

        & + ul {
            list-style-type: circle;
            @extend .pl-100;

            li {

                span {
                    @extend .font-weight-bold;
                    @extend .text-secondary;
                }

                p {
                    @extend .mb-20;
                }
            }
        }
    }
}


// for onboarding image under cards arrow

.before-image-arrow {
    left: 19px;
    top: -14px;
    border-left: 14px solid transparent;
    border-bottom: 14px solid #fff;
    @extend .arrow-before;
}

.after-image-arrow {
    left: 18px;
    top: -16px;
    border-left: 16px solid transparent;
    border-bottom: 15px solid #e4e6e9;
    @extend .arrow-after;
}

.before-first-image-arrow {
    left: unset;
    right: 19px;
    border-right: 0px solid transparent;
    transform: rotate(90deg);
}

.after-first-image-arrow {
    right: 18px;
    left: unset;
    border-right: 0px solid transparent;
    transform: rotate(90deg);
}

// ----- END OF CUSTOMERS STORY PAGE ------ //


// ----- FEATURES PAGE ------ //

/// keka Empower

.keka-empower {
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-lg-3;
    @extend .g-0;

    .empower {
        @extend .text-center;
        @extend .px-30;
        @extend .mb-xs-40;
        @extend .px-xs-0;

        p:nth-child(even) {
            @extend .mb-10;
            @extend .text-secondary;
            @extend .font-weight-extra-bold;
        }
    }
}
// for keka calculations

.keka-calculations {
    @extend .row;
    @extend .row-cols-1;
    @extend .row-cols-sm-2;
    @extend .row-cols-xl-3;
    @extend .g-0;

    .calculation {
        @extend .mx-40;
        @extend .my-20;
        @extend .mx-xs-0;

        p:nth-child(odd) {
            @extend .text-large;
            @extend .text-secondary;
            @extend .font-weight-semi-bold;
        }

        p:nth-child(even) {
            @extend .text-large;
        }
    }
}
// for keka client feedback
.keka-client {
    @extend .container-fluid-box;
    @extend .bg-aqua-10;

    .desktop-visibility {
        @extend .container;
        @extend .g-0;
        @extend .position-relative;

        h1 {
            @extend .mb-40;
        }

        p {
            @extend .text-secondary;
            @extend .text-large;
            @extend .pl-16;
        }
    }
}
// for idea image in feature page
.top-20 {
    top: 20px;
}
// for the quotes image in feature page
.top-n30 {
    top: -30px;
}
//for features page vice president
.position-top {
    @extend .position-absolute;
    @extend .right-0;
    @extend .top-n30;
}
// ----- END OF FEATURES PAGE ------ //


// ----- BLOG PAGE ------ //

.subscribe {
    @extend .bg-slate-10;
    @extend .border;
    @extend .border-slate-40;
    @extend .rounded;
    @extend .px-20;
    @extend .py-30;
    @extend .mb-30;
}

.most-popular {
    @extend .p-16;
    @extend .mb-24;
    @extend .border;
    @extend .border-slate-50;
    @extend .rounded;

    h6 {
        @extend .meta-heading;
        @extend .mb-24;
    }

    div {
        @extend .mb-24;

        p {
            @extend .text-label;
        }

        a {
            @extend .text-xs;
        }

        &:last-child {
            @extend .mb-0;
        }
    }
}


// search box for blog articles

.search {
    @extend .d-flex;
    @extend .position-relative;
    @extend .mb-30;

    input {
        @extend .px-20;
        @extend .py-12;
        @extend .pl-50;
        @extend .mr-12;
        @extend .text-sm;
    }

    .icon {
        @extend .position-absolute;
        top: 18px;
        left: 18px;
        @extend .text-slate-60;
    }

    .btn {
        @extend .btn-input;
        @extend .btn-input-sm;
        @extend .px-24;
    }
}

.blog {

    @extend .mr-40;
    @extend .mr-xs-0;

    h1 {
        @extend .mb-20;
    }

    img {
        @extend .img-fluid;
        @extend .mb-20;
    }

    p {
        @extend .text-large;
        @extend .mb-30;
        @extend .text-secondary;
    }

    h1, h2, h3, h4, h5, h6, p, li {
        @extend .text-secondary;
    }
}

// for share arcticle in blog inner page

.share {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .px-16;
    @extend .py-12;
    @extend .border;
    @extend .border-slate-50;
    @extend .rounded;
    @extend .mb-20;

    .social-media {
        @extend .d-flex;
        @extend .align-items-center;

        & > span {
            @extend .text-xs;
            @extend .mr-16;
        }
    }

    label {
        @extend .text-label;
    }
}

// for objectives in blog page

.objectives {

    @extend .card;
    @extend .shadow-low;
    @extend .border-0;
    @extend .rounded-4;
    @extend .p-30;

    h2 {
        @extend .mb-20;
        @extend .font-weight-extra-bold;
    }

    & > p {
        @extend .text-large;
        @extend .mb-30;
        @extend .text-secondary;
    }

    ul {
        @extend .list-unstyled;
        @extend .list-check;
        @extend .mb-30;

        &.list-check {
            p {
                @extend .mr-40;
            }
        }

        li {
            @extend .text-secondary;
        }
    }
}

//for onboarding title

.content-title {
    @extend .content-fluid;
    @extend .mb-100;
    @extend .mb-xs-40;
    @extend .px-xs-20;
}

// pagination for blog articles
ul {

    &.pagination {

        @extend .list-unstyled;
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .my-50;
        @extend .container;
        @extend .g-0;

        li {

            @extend .mr-12;
            @extend .mb-xs-12;
            @extend .rounded;
            @extend .border;
            @extend .border-blue;
            @extend .px-16;
            @extend .py-6;

            a {
                @extend .text-blue;
            }

            &.active {
                @extend .bg-blue;

                a {
                    @extend .text-white;
                }
            }
        }
    }
}

// ----- END OF BLOG PAGE ------ //


// ----- PRICING PAGE ----- //


// for pricing currency dropdown

.currency-dropdown {
    @extend .w-200;
    @extend .position-absolute;
    @extend .right-0;
    top: -5px;
}

// for pricing pages

.pricing-home {
    @extend .d-md-flex;
    @extend .align-items-center;
    @extend .mb-80;

    img {
        @extend .mr-40;
        @extend .mr-xs-0;
        @extend .mb-40;
    }

    .document {
        @extend .mb-0;

        .document-title + ul {
            @extend .pl-24;

            li {
                p {
                    @extend .mb-0;
                    @extend .text-large;
                    @extend .text-secondary;
                }
            }
        }
    }
}

.pricing {
    @extend .container-box;
    @extend .d-md-flex;
    @extend .align-items-baseline;


    .pricing-plan {
        @extend .max-w-275;
        @extend .mr-20;
        @extend .mr-xs-0;
        @extend .mb-xs-40;
        @extend .border;
        @extend .border-slate-50;
        @extend .rounded;
        @extend .max-w-xs-unset;

        .pricing-title {
            @extend .px-20;
            @extend .py-16;
            @extend .text-center;
            @extend .min-h-150;
            @extend .min-h-xs-unset;
            @extend .bg-slate-10;
            @extend .border-bottom;
            @extend .border-slate-50;

            p {
                @extend .text-sm;
                @extend .font-weight-bold;
                @extend .text-secondary;

                span {
                    @extend .text-magenta;
                    @extend .text-small;
                    @extend .mr-10;
                }
            }

            & > span {
                @extend .text-xs;
                @extend .mt-10;
                @extend .mb-20;
                @extend .d-block;
            }

            label {
                @extend .bg-green;
                @extend .text-white;
                @extend .rounded;
                @extend .p-1;
                @extend .px-8;
                @extend .text-xxxs;
            }
        }

        .prices {
            @extend .p-20;
            @extend .text-center;
            @extend .border-bottom;
            @extend .border-slate-50;

            p {
                @extend .text-xs;
                @extend .text-secondary;

                span {
                    @extend .text-large;
                    @extend .font-weight-extra-bold;
                }
            }
        }

        .pricing-features {
            @extend .p-20;
            @extend .border-bottom;
            @extend .border-slate-50;

            .btn {
                @extend .btn-primary;
                @extend .btn-sm;
                @extend .btn-block;
                @extend .mb-30;
            }

            & > p {
                @extend .text-sm;
                @extend .font-weight-bold;
                @extend .text-secondary;
                @extend .mb-16;

                span {
                    @extend .text-blue;
                }
            }

            & > span {
                @extend .mb-30;
                @extend .text-xs;
                @extend .text-secondary;
                @extend .d-block;
            }

            .features, .addons {
                & > p {
                    @extend .text-label;
                    @extend .text-blue;
                    @extend .mb-10;
                    @extend .font-weight-extra-bold;
                    @extend .text-small;
                }
            }
        }

        .see-all {
            @extend .p-20;
            @extend .text-center;

            a {
                @extend .text-xs;
                @extend .font-weight-bold;
            }
        }
    }


    .professional-pricing-plan {
        @extend .pricing-plan;
        @extend .max-w-375;

        .pricing-title {
            min-height: unset !important;
        }
    }

    .pricing-signup {

        & > div {

            @extend .border;
            @extend .border-slate-50;
            @extend .rounded;
            @extend .mb-20;
            @extend .max-w-250;
            @extend .max-w-xs-unset;

            & > p {
                @extend .text-blue;
                @extend .font-weight-bold;
                @extend .text-center;
                @extend .p-12;
                @extend .bg-slate-30;
            }
        }

        & > p {
            @extend .text-sm;
            @extend .text-secondary;
            @extend .font-weight-bold;
            @extend .mb-10;
        }


        .pricing-title {
            @extend .px-20;
            @extend .py-16;
            @extend .text-center;
            @extend .bg-slate-10;
            @extend .border-bottom;
            @extend .border-slate-50;

            span {
                @extend .text-sm;
                @extend .font-weight-bold;
                @extend .text-secondary;
            }
        }

        .pricing-signup-btn {
            @extend .p-20;

            p {
                @extend .mb-20;
                @extend .text-xs;
            }
        }
    }
}
// for the frequently asked questions
.frequent-questions {
    @extend .container-box;

    h2 {
        @extend .mb-20;
        @extend .font-weight-extra-bold;
    }

    .question {
        @extend .p-20;
        @extend .mb-10;
        @extend .border;
        @extend .border-slate-50;
        @extend .rounded;
        @extend .cursor-pointer;
        @extend .position-relative;

        .question-header {
            @extend .d-flex;
            @extend .align-items-center;

            span {
                @extend .mr-10;
            }

            p {
                @extend .text-sm;
                @extend .font-weight-bold;
                @extend .text-secondary;
                @extend .ml-30;
            }
        }

        [data-toggle="collapse"]:after {
            content: "\e912";
            font-family: keka-icons;
            font-weight: normal;
            font-style: normal;
            transform: rotate(90deg);
            transition: all linear 0.25s;
            @extend .position-absolute;
            left: 16px;
        }

        [data-toggle="collapse"].collapsed:after {
            transform: rotate(0deg);
        }

        .collapse {
            p {
                @extend .text-xs;
                @extend .mt-10;
                @extend .ml-30;
            }
        }
    }
}
// for the save in
.save {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-md-end;
    @extend .mb-20;

    span {
        @extend .text-sm;
        @extend .text-secondary;
        @extend .mr-12;
    }

    label {
        @extend .text-green;
        @extend .text-xxxs;
        @extend .font-weight-extra-bold;
    }

    & + p {
        @extend .text-xs;
        @extend .font-weight-bold;
        @extend .mb-10;
    }
}


.professional-save {

    @extend .d-md-flex;
    @extend .align-items-center;
    @extend .align-items-baseline;
    @extend .mb-20;

    span {
        @extend .text-sm;
        @extend .text-secondary;
        @extend .mr-12;
    }

    label {
        @extend .text-green;
        @extend .text-xxxs;
        @extend .font-weight-extra-bold;
    }

    & + p {
        @extend .text-xs;
        @extend .font-weight-bold;
        @extend .mb-10;
    }

    .quarterly-save {
        @extend .d-flex;
        @extend .align-items-center;
        @extend .text-nowrap;
        @extend .mt-xs-20;
    }
}
// for pricing plan
.billing {
    @extend .border;
    @extend .border-slate-50;
    @extend .rounded;
    @extend .p-20;
    @extend .mt-40;
    @extend .mt-xs-0;
    @extend .w-300;
    @extend .text-secondary;

    & > p {
        @extend .text-xs;

        span {
            @extend .text-large;
            @extend .font-weight-extra-bold;
        }
    }

    & > label {
        @extend .font-weight-semi-bold;
        @extend .text-xxs;
        @extend .mb-12;
        @extend .d-block;
    }

    & > span {
        @extend .text-xxs;
        @extend .mb-30;
    }

    .bill {

        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;
        @extend .mb-10;

        p {
            @extend .text-xxxs;
            @extend .w-75;
        }

        span {
            @extend .text-xxxs;
            @extend .font-weight-semi-bold;
        }
    }

    .total-bill {
        @extend .bill;
        @extend .pt-6;
        @extend .border-slate-50;
        @extend .border-top;
        @extend .mb-20;

        p {
            @extend .text-xxxs;
            @extend .w-75;
        }

        span {
            @extend .text-xxxs;
            @extend .font-weight-semi-bold;
        }

        & + p {
            @extend .text-xxxs;
            @extend .text-primary;
        }
    }
}
// for the pricing calculations
form {
    .calculate-price {
        @extend .border;
        @extend .border-slate-50;
        @extend .rounded;
        @extend .p-20;

        .form-group {
            @extend .mb-30;

            .form-label {
                @extend .text-xs;
                @extend .font-weight-bold;
                @extend .mb-10;
                @extend .text-secondary;
                @extend .d-block;
            }

            .form-check {
                @extend .mb-20;

                .form-check-input {
                    @extend .rounded;

                    &:focus {
                        @extend .shadow-none;
                    }
                }

                .form-check-label {

                    label {
                        @extend .text-xxxs;
                        @extend .text-secondary;

                        span {
                            @extend .text-xs;
                            @extend .font-weight-semi-bold;
                            @extend .mr-10;
                        }
                    }

                    p {
                        @extend .text-xs;
                    }

                    .users {
                        @extend .position-relative;
                        top: -10px;
                        @extend .text-right;
                    }
                }
            }
        }
    }
}
// for the range slider
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: #e5e7ea;
    outline: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    @extend .bg-white;
    @extend .border;
    @extend .border-blue;
    @extend .rounded-circle;
    @extend .cursor-pointer;
}
// ----- END OF PRICING PAGE ----- //

// ----- SECURITY PAGE ------ //

.small-container {
    @extend .container-box;
    @extend .d-md-flex;

    img {
        @extend .align-self-baseline;
        @extend .mr-40;
        @extend .mr-xs-0;
        @extend .mb-xs-40;
    }

    p {
        @extend .mb-50;
    }

    .security-content {
        @extend .mb-30;

        h3 {
            @extend .font-weight-extra-bold;
            @extend .mb-20;
        }

        label {
            @extend .font-weight-bold;
            @extend .text-secondary;
        }

        p {
            @extend .mb-30;
        }
    }
}

// ----- END OF SECURITY PAGE ------ //


// ----- INTEGRATION ------ //

.integration {
    @extend .mb-40;
    @extend .mb-xs-20;

    h3 {
        @extend .mb-20;
        @extend .font-weight-extra-bold;
    }
}

//for the desktop only
@media (min-width: 768px) {
    // for the onboarding page
    .max-w-unset {
        max-width: unset;
    }
}
// for large device
@media (min-width: 992px) and (max-width: 1199px) {
    #featuresCarousel, #attritionAnalyticsCarousel {
        .carousel-control-prev {
            left: -30px;
        }

        .carousel-control-next {
            right: -30px;
        }
    }
}
// for medium device
@media (min-width: 768px) and (max-width: 991px) {
    #featuresCarousel, #attritionAnalyticsCarousel {
        .carousel-control-prev {
            left: -30px;
        }

        .carousel-control-next {
            right: -30px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    // for getting footer
    .container {
        max-width: 630px;
    }
    // for medium box in home page
    .medium-box {
        min-width: 350px;
    }
    // for feature content should be left side
    .feature-container {
        &.image-first {
            .content-container {
                margin-left: unset !important;
            }
        }
    }
    // for content should be center
    main {
        section {
            &:first-of-type {

                .content-container {
                    margin: 0 auto;
                }
            }
        }

        .sub-navbar {
            & + section {

                .content-container {
                    margin: 0 auto;
                }
            }
        }
    }

    .row-3 {
        .box {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}
// for mobile portrait
@media (min-width: 300px) and (max-width: 767px) {

    header {
        .navbar-expand-lg {
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);

            .dropdown-menu {
                .dropdown-item:hover {
                    background: $white !important;
                }
            }
        }
    }

    // for title to h1 font size
    .title {
        font-size: 36px;
        line-height: 48px;
    }
    // for h1 is redeced to h2 font size
    h1 {
        font-size: 32px;
        line-height: 44px;
    }
    // position changed for card in customers page
    .customer {
        .customer-right {
            top: 0px;
        }
    }
    // for idea image in attendance tracking page
    .position-relative {
        &.top-20 {
            top: -20px;
        }
    }
    // for shadow none
    .shadow-xs-none {
        box-shadow: 0 0 transparent;
    }
    //for customer experience page
    .right-xs-0 {
        right: 0px;
    }
    // for the pricing plans
    .max-w-xs-unset {
        max-width: unset;
    }

    .min-h-xs-unset {
        min-height: unset;
    }
    // for customer experience home banner
    .img-xs-fluid {
        max-width: 100%;
        height: auto;
    }
    // for onboarding page
    .left-xs-0 {
        left: 0px;
    }
    // for onboarding page line in mobile
    .left-xs-16 {
        left: 16px !important;
    }
    // for onboarding page border line in mobile
    .content-xs-set {
        content: '';
    }
    // for width of a image in onboarding page in mobile
    .wh-xs-60 {
        width: 60px;
        height: 60px;
    }
    // for mobile icon in on boarding page
    .arrow-before {
        left: -20px !important;
        right: unset !important;
        top: 20px !important;
        border-right: 13px solid transparent !important;
        transform: rotate(269deg) !important;
    }

    .arrow-after {
        left: -23px !important;
        right: unset !important;
        top: 20px !important;
        border-right: 14px solid transparent !important;
        transform: rotate(270deg) !important;
    }

    // for the breadcrumb in onboarding documents
    .text-xs-14 {
        font-size: 14px !important;
    }

    // for the pricing btn group
    button {
        &.btn {
            &.btn-light {
                &.btn-sm {
                    font-size: 12px !important;
                }
            }
        }
    }

    // for the pricing cureency dropdown
    .currency-dropdown {
        top: -50px;
        right: 20px !important;
    }

    // for the navabr close

    span {
        &.icon {
            &.icon-lg {
                &.ic-menu {
                    &.text-secondary {
                        &.ic-close {
                            font-size: 16px;
                        }
                    }
                }
            }

        }
    }


    // for the blog right layout

    .right-layout {

        &.min-w-340 {
            min-width: 320px !important;
        }
    }
}



@media (min-width: 300px) and (max-width:991px) {

    header {
        .nav-header{
            width: 100%;
        }
        .dropdown-menu {
            .dropdown-item:hover {
                background: $white !important;
            }
        }

        &.overlay-header {
            height: 100vh;
            background: rgba(000, 000, 000, 0.4);
            overflow-y: scroll;
        }
    }


    // Animation in hamburger menu icon

    .navbar-toggler {
        min-width: 26px;
        min-height: 26px;
        position: relative;

        .animate-first-line {
            transform: rotate(45deg);
            transform-origin: 14% 32%;
            transition: all cubic-bezier(0.1, 0.89, 0.3, 1) 0.35s;
        }

        .animate-middle-line {
            opacity: 0;
            transition: all cubic-bezier(0.1, 0.89, 0.3, 1) 0.25s;
        }

        .animate-third-line {
            transform: rotate(-45deg);
            transform-origin: 23% 67%;
            transition: all cubic-bezier(0.1, 0.89, 0.3, 1) 0.35s;
        }
    }

    // navbar in mobile
    .navbar-expand-lg {
        &.main-navbar {
            .sticky-nav-header {
                position: sticky;
                top: -1px;
                z-index: 20;
                background: $white;
                padding: 15px 0;
            }

            .navbar-nav {
                margin-top: 20px;

                .nav-item {
                    margin-bottom: 15px;
                }

                .nav-link {
                    margin-right: 0px !important;
                    font-size: 16px !important;
                }
            }
        }
    }


    // dropdownmenu in navbar in mobile

    .navbar-expand-lg {

        .navbar-nav {

            .dropdown-toggle {

                .ic-chevron-down {
                    position: absolute;
                    top: 8px;
                    right: 0px;
                    font-size: 24px;
                    transition: all linear 0.25s;
                    color: #2C2E31 !important;
                }

                &.show {
                    .ic-chevron-down {
                        transform: rotate(-90deg);
                    }
                }
            }

            .dropdown-menu {
                width: 100% !important;
                box-shadow: none !important;
                padding: 0px !important;

                .dropdown-item {
                    margin-left: 0px !important;

                    .feature-item {
                        margin-left: 0px !important;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}




// for making container for 1140px
@media (min-width: 1400px) {
    .container {
        max-width: 1140px !important;
    }
}

//box shadow on focus of fields
.form-select, .form-control, .form-check-input {
    &:focus {
        box-shadow: none !important;
    }
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.main-container {
    margin-top: 140px !important;
}

#featuresCarousel {
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }

    .carousel-item {
        @extend .bg-slate-30;
    }
}

#attritionAnalyticsCarousel {
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }

    .carousel-item {
        @extend .bg-white;
    }
}

.blog {
    h2, h4 {
        @extend .font-weight-bold;
    }
}

main section:first-of-type {
    &.clear-margin-t {
        @extend .mt-0;
    }
}

.dot.dot-md {
    border: none;
    animation: none;
    transform: none;
}

.integration.mb-0 {
    @extend .mb-0;
}

.integration .card-shadow.mb-0 {
    @extend .mb-0;
}

.blog h2, .blog h4 {
    font-weight: 700;
}

#toc_container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    padding: 20px;
    margin-bottom: 1em;
    width: auto;
    display: table;
    font-size: 95%;
}

#toc_container p.toc_title {
    @extend .text-center;
    font-weight: 700;
    @extend .m-0;
    @extend .p-0;
}

#toc_container p.toc_title + ul.toc_list {
    margin-top: 1em;
}

#toc_container.no_bullets ul {
    background: 0 0;
    list-style-type: none;
    list-style: none;

    ul {
        margin: 0 0 0 20px !important;
    }
}

.blog p, .blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6, .blog ul, .blog ol {
    margin: 20px 0 !important;
}
