// smooth scrooling
html {
  scroll-behavior: smooth;
}

// desktop view
.desktop-visibility {
    @extend .d-none;
    @extend .d-md-block;
}

.desktop-inline-visibility {
    @extend .d-none;
    @extend .d-md-inline-block;
}

// mobile view
.mobile-visibility {
    @extend .d-block;
    @extend .d-md-none;
}

// transition
.transition-onhover {
    transition: margin-left 2s ease-in;

    &:hover .icon {
        margin-left: 10px;
    }
}

input::placeholder {
    @extend .text-slate-200;
}

.cursor-pointer {
    cursor: pointer;
}

// for opactiy 

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-100 {
    opacity: 1;
}

// Shadows
.shadow-high {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.shadow-low {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.shadow-y {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
}

.shadow-nav {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
}