//Padding in each section set globally from here
section {
  @extend .py-80;
  @extend .px-4, .px-md-5, .px-lg-14;
}

img {
  width: 100%;
  height: auto;
}

.underline {
  @extend .mb-30;
}

.underline::after {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  margin-top: 5px;
  @extend .bg-blue;
}

.mx-auto.underline::after {
  @extend .mx-auto;
}

.flex-h-center {
  @extend .d-flex;
  @extend .justify-content-center;
}

.flex-v-center {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-1 {
  background: linear-gradient(135deg, #5f1ab3 0%, #005f91 100%);
}

.card-icon {
  width: 76px;
  height: 76px;
  background: $primary;
  opacity: 0.1;
  border-radius: 55px;
  @extend .flex-center;
}

.card-ciruclar h3 {
  color: #2e3342;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.card-circular p {
  color: #666d7d;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}
